RewriteEngine on

# Allow requests for valid file or folder names
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ - [L]

# use index.php as front controller ...
RewriteCond $1 !^(index.php)
RewriteRule ^(.*)$ ./index.php?$1 [L,QSA]

